@use '@angular/material' as mat;

@use './styles/fonts';
@use './styles/variables';
@use './styles/mixins';
@use './styles/typography';
@use './styles/reset';
@use './styles/theme';

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Estedad,
    density: 0,
  ));
}